ffmpegio==0.7.0
python-dotenv
pytube
ytmusicapi
spotipy
requests
yt-dlp==2026.06.09
python-telegram-bot==13.14
APScheduler==3.6.3
setuptools<=80.10.2
git+https://github.com/TzurSoffer/spotify-downloader@29cb0b0669d5c107331b0912fdef73967b47493e
